// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

h1 {
    margin: 50px 0;
}
a {
    text-decoration: none;
    color: $black;
    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.card {
    padding: 15px;

    &__logo {
        width: 100%;
        padding-top: 75%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__title {
        margin-top: 20px;
        font-size: 22px;
    }
}
.descr {
    &__img {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list {
        padding: 0;
        &-item {
            list-style-type: none;
            padding: 10px;
            font-size: 22px;
        }
    }
}
